<h3 style="color:blue;">
    {{titulo}}
</h3>

<strong>Empleado estrella:</strong>
<br/>
<br/>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">No Está contratado</li>
    </ul>
</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(false)">Mostrar empleado</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contratado}}</li>
    </ul>
</div>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i + 1}}:</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Está contratado</li>
            <li *ngIf="empleado.contratado == false">No Está contratado</li>
        </ul>
    </li>
</ul>